<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teameleven.smartbells2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_s_bell"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".viewlayer.OpeningSplashScreen" android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".viewlayer.SmartBellsMainActivity" android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <!-- ACTIVITIES -->
        <activity android:name=".viewlayer.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".viewlayer.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".viewlayer.LoadingSplashScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".viewlayer.RecordWorkoutRoutine"
            android:screenOrientation="portrait"/>
        <activity android:name=".viewlayer.dashboardfragmenttabs.ViewWorkout"
            android:screenOrientation="portrait"/>


        <!-- SERVICES   -->
        <!-- Authenticator Service -->
        <service
            android:name=".businesslayer.synchronization.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <!-- Sync Service - Synchronizes the program with the database -->
        <service android:name=".businesslayer.synchronization.SyncService"
                 android:exported="true"
                 android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/sync_adapter"/>
        </service>
        <!-- SERVICES   -->
        <!-- Content Provider -->
        <provider
            android:name=".businesslayer.synchronization.StubProvider"
            android:authorities="teameleven.smartbells2.businesslayer.synchronization.provider"
            android:label="provider"
            android:exported="false"
            android:syncable="true"/>
        <!-- Content Provider -->


    </application>

    <!-- USE the INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

</manifest>
