<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teameleven.smartbells2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".OpeningSplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SmartBellsMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <!-- ACTIVITIES
        <activity android:name=".ViewLayer.login.SignupActivity"/>
        <activity android:name=".ViewLayer.login.LoginActivity" android:launchMode="singleTop"/>
        <activity android:name=".ViewLayer.create.CreateExercise"/>
        <activity android:name=".ViewLayer.record.RecordWorkoutRoutine"/>
        <activity android:name=".ViewLayer.edit.EditRoutine"/>
        <activity android:name=".ViewLayer.mainarea.About"/>
        <activity android:name=".ViewLayer.login.SplashScreen"/>
        ACTIVITIES -->


    </application>

</manifest>
